# Copyright (c) 2025 Focaltech Systems CO.,Ltd
# SPDX-License-Identifier: Apache-2.0

if SOC_FT9001

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency)

config NUM_IRQS
	default 140

if PM

config COUNTER
	default y

config SYSTEM_CLOCK_SLOPPY_IDLE
	default y

endif # PM

endif # SOC_FT9001
