# Copyright (c) 2025 Focaltech Systems CO.,Ltd
# SPDX-License-Identifier: Apache-2.0

config GPIO_FOCALTECH
	bool "FT90 GPIO driver"
	default y
	depends on GPIO
	depends on SOC_FAMILY_FOCALTECH
	select USE_FOCALTECH_HAL_EPORT 
	help
	  Enable the FOCALTECH GPIO driver.
