# Copyright (c) 2025 Focaltech Systems CO.,Ltd
# SPDX-License-Identifier: Apache-2.0

config HWINFO_FOCALTECH
	bool "FOCALTECH hwinfo"
	default y
	depends on SOC_FAMILY_FOCALTECH
	select HWINFO_HAS_DRIVER
	help
	  Enable FOCALTECH hwinfo driver.